.navbar {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  border-radius: 0;
  background-color: #19B491;
  box-shadow: none;
}

#navbarNav {
  position: absolute;
  right: 20px;
}

a {
  color: #E9EEEF;
}

a:hover {
  color: #16967A;
}

body {
  padding-top: 90px;
}
